* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo geral para o body */
  body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-image: url('./acentss/IMG-20230618-WA0009.jpg'); /* Coloque o caminho da sua imagem */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  /* Container principal */
  .container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6); /* Fundo semitransparente para contraste */
    border-radius: 10px;
  }
  
  /* Estilo do título */
  header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Estilo do conteúdo */
  .content p {
    font-size: 1.5rem;
    margin: 10px 0;
    line-height: 1.6;
  }
  
  /* Estilo do footer */
  footer p {
    font-size: 1.2rem;
    margin-top: 20px;
    font-style: italic;
  }