body {
   
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url('./acentss/um-coracao-preto-e-branco-com-a-palavra-amor_1134661-16999.avif');
    background-position: center center;
    background-repeat: no-repeat;
}


.calendar {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-image: url('./acentss/som-criativo-música-e-design-de-vetor-áudio-em-fundo-preto-para-o-site-aplicativo-banner-206409603.webp');
}

.month {
    display: flexs;
    font-size: 24px;
    color: red;
}



h1:hover {
    color: #cbdc13;
    border: none;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    padding: 10px;
    background: #e0e0e0;
    border-radius: 5px;
}

button {

    color: red;
    border-radius: 8px;
}

.semana {
    display: flex;
    margin: 12px;
    letter-spacing: 15px;
    font-size: 20px;
    margin-left: 5px;
}

button:hover {
    background-color: yellow;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


